{% extends 'layout.html.twig' %} 
{% block content_page %}
    <h1>VoyageOrg</h1>

    <table class="table">
        <tbody>
            <tr >
                <th>Id</th>
                <td>{{ voyage_org.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ voyage_org.ref }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ voyage_org.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage_org.description }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ voyage_org.dateDebut ? voyage_org.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ voyage_org.dateFin ? voyage_org.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ voyage_org.destination }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyage_org_indexb') }}">back to list</a>

    <a href="{{ path('voyage_org_editb', {'id': voyage_org.id}) }}">edit</a>

    {{ include('voyage_org/_delete_form.html.twig') }}
{% endblock content_page %}
